/*.......... FourthSection......... */


.walkthrough h2 {
    width: 426px;
    height: 36px;
    margin: 0 auto;
    font-family: Lexend;
    font-size: 32px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: center;
}

.steps {
    width: 333px;
    height: 50px;
    margin: 0 auto;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align: center;
    color: #ADB5BD;
}

.card-box {
    position: relative;
    background: #F4F4F4;
    height: 341px;
    border-radius: 16px;
    margin-top: 3rem;
}

.hoverable-icon {
    position: absolute;
    top: 40;
    left: 10;
}

.num {
    position: relative;
    left: 15px;
    font-size: 12px;
}

.card-text {
    text-align: start;
    width: 259px;
    height: 187px;
    margin-top: 82px;
    margin-left: 68px;
    gap: 24px;
}

.card-text h2 {
    width: 119px;
    height: 27px;
    font-family: Lexend;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.03em;
    text-align: center;
}

.order {
    width: 259px;
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align: left;
}

.img1 {
    position: relative;
    width: 247px;
    height: 305px;
    margin-top: 33px;
    margin-right: 260px;
    border-radius: 18px;
    border: 1px;
    object-fit: cover;
}

.img2 {
    position: absolute;
    width: 357px;
    height: 388px;
    margin-top: 179px;
    margin-left: 160px;
    padding: 114px 75px 114px 75px;
    border-radius: 14px;
    border: 1px;
}

.card2-box {
    background: #F4F4F4;
    border-radius: 16px;
    margin-top: 1rem;
    padding: 0;
}

.card2-text {
    text-align: start;
    width: 259px;
    height: 187px;
    margin-top: 27px;
    margin-left: 18px;
    gap: 24px;
}

.card2-text h2 {
    width: 165px;
    height: 27px;
    font-family: Lexend;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.03em;
}

.card2-img {
    margin-top: 247px;
    left: 103px;
}

.card2-img img {
    top: 0;
    left: 201px;
}

.card3-box {
    background: #F4F4F4;
    width: 530px;
    padding: 45px 45px 0 0;
    border-radius: 16px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card3-text {
    width: 242px;
    margin-top: 3rem;
    left: 68px;
    text-align: start;
}

.card3-text h2 {
    width: 262px;
    height: 27px;
    font-family: Lexend;
    font-size: 22px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.03em;
}

.card3-box img {
    width: 289px;
    top: 89px;
    margin-left: 50px;
}

.card4-box {
    background: #F4F4F4;
    width: 530px;
    padding: 0 45px 45px 0;
    border-radius: 16px;
    margin-top: 1rem;
    margin-left: 1rem;
}

.card4-box img {
    width: 289px;
    margin-left: 50px;
}

.card4-text {
    width: 242px;
    margin-top: 3rem;
    left: 68px;
    text-align: start;
}

.card4-box h2 {
    width: 222px;
    font-family: Lexend;
    font-size: 24px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.03em;
}

.card4-box ul {
    width: 251px;
    height: 44px;
}

.card4-box li {
    font-family: Lexend;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: -0.03em;
    text-align: left;
}



/* hovers for card-box */

.card-box:hover {
    border: 1px solid transparent;
    border-radius: 16px;
    border-image: linear-gradient(to right, #e100ff, #2b00ff);
    border-image-slice: 1;
    transition: border-image 0.3s ease-in-out;
}

.card-box:hover .hoverable-icon {
    color: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 10px;
}

.card-box:hover .num {
    font-size: 10px;
    opacity: .3;
}

.card-box:hover .hoverable-icon i {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 23px;
}


/* hovers for card2-box */


.card2-box:hover {
    border: 1px solid transparent;
    border-radius: 16px;
    border-image: linear-gradient(to right, #e100ff, #2b00ff);
    border-image-slice: 1;
    transition: border-image 0.3s ease-in-out;
}

.card2-box:hover .hoverable-icon {
    color: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 10px;
}

.card2-box:hover .num {
    font-size: 10px;
    opacity: .3;
}

.card2-box:hover .hoverable-icon i {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 23px;
}


/* hovers for card3-box */


.card3-box:hover {
    border: 1px solid transparent;
    border-radius: 16px;
    border-image: linear-gradient(to right, #e100ff, #2b00ff);
    border-image-slice: 1;
    transition: border-image 0.3s ease-in-out;
}

.card3-box:hover .hoverable-icon {
    color: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 10px;
}

.card3-box:hover .num {
    font-size: 10px;
    opacity: .3;
}

.card3-box:hover .hoverable-icon i {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 23px;
}


/* hovers for card4-box */


.card4-box:hover {
    border: 1px solid transparent;
    border-image: linear-gradient(to right, #e100ff, #2b00ff);
    border-image-slice: 1;
    transition: border-image 0.3s ease-in-out;
}

.card4-box:hover .hoverable-icon {
    color: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 10px;
}

.card4-box:hover .num {
    font-size: 10px;
    opacity: .3;
}

.card4-box:hover .hoverable-icon i {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right, #e100ff, #2b00ff);
    font-size: 23px;
}